<!DOCTYPE html>
<html>
<head>

  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <style type="text/css"> body{background: #5bc0de;}</style>

</head>
<body>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/polls"> RATELIFE </a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
  </div>
</nav>
<div class="container-fluid" id=questionsContainer>

<col md-6>
<table style="width:50%">
  <thead>
    <h3>
    <th><h3><b>Question</b> </h3></th>
    <th><h3><center><b>Votes</b></center></h3></th>
    </h3>
  </thead>
  <tbody>
  
  {% for question in all_questions %}
    <tr>
        <td>
        <h4><b><a href = /polls/{{question.question_id}} style="color:#FF0000";> {{question}} </b></a></h4>

        </td>        
        <td>
         <center>{{question.bestVotes}} for {{question.bestAnswer}}</center>
        </td>

    </tr>
  {% endfor %}
  </tbody>
</table>
</br>
</br>

<div id="question_form">
<form action="/polls/update_questions/" method="post">
    {% csrf_token %}
    {{ form.question_text }}
    </br>
    </br>
    <input type="submit" value="Submit" />
</form>
</div>
</div>
</body>
</html>